:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  text-transform: lowercase;
}

a {
  display: inline-block;
  text-decoration: none;
}

.header div {
  background: #FFC107;
}

.nav-lista, .header div {
  display: flex;
  justify-content: center;
}

.nav {
  background: #FA0;
}

.nav a{
  font-size: 2rem;
  font-weight: 700;
  color: #FFF;
}

.nav-lista {
  
  padding-block: 1.2rem;
  gap: 5.8rem;
}

footer {
  background-color: #FFC107;
}

.footer {
  display: flex;
  align-items: center;
  gap: 3.8rem;
  padding-block: 1.8rem;
  margin-top: 16rem;
  margin-inline: auto;
}

.footer p {
  color: #FFFFFF;
}

@media (max-width: 1000px){
  .footer {
    justify-content: center;
  }
}

@media (max-width: 800px){
  .footer img {
    width: 300px;
  }
}

@media (max-width: 500px){
  .footer img {
    display: none;
  }

  .footer p {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .nav ul {
    font-size: 1.6rem;
  }
}