@import '../css/geral.css';

.intro {
  background-image: url('../imgs-home/mae-e-filha-crianca.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 64rem;
}

.intro h1, .receita, .receitas p, a {
  text-transform: lowercase;
}

.intro h1 {
  color: #FFFFFF;
  font-size: 7rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  padding-block: 16rem 30rem;
  grid-column: 3;
  width: 100%;
  text-align: right;
}

.receita {
  color: #FFA000;
  font-size: 5.5rem;
  text-align: center;
  padding-block: 7.5rem;
}

.receitas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15rem;
}

.receitas p {
  color: #000000;
  font-size: 2.6rem;
  font-weight: 600;
  padding-block: 1.2rem;
}

.receitas div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main a {
  font-weight: 700;
  background-color: #176902;
  color: #FFFFFF; 
  padding: 1rem 4.5rem;
}

.info {
  background-image: url('../imgs-home/mae-e-filha.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info h2 {
  color: #FFFFFF;
  font-size: 6.5rem;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 7.5rem;
}

.info p {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
  max-width: 25ch;
}

.info div {
  padding-block: 16rem 10rem;
}

@media (max-width: 750px){

  .intro {
    height: 32rem;
  }

  .intro h1 {
    padding-block: 8rem 30rem;
  }

  .intro h1, .info h2 {
    font-size: 5rem;
  }

  .receita {
    font-size: 3.5rem;
  }

  .receitas {
    justify-content: center;
    gap: 2rem;
  }

  .receitas img {
    width: 300px;
  }

  .receitas p, .info p {
    font-size: 2rem;
  }

  .info div {
  padding-block: 8rem 5rem;

  }
}

@media (max-width: 350px){

  .intro {
    height: 30rem;
  }

  .intro h1, .info h2 {
    font-size: 4rem;
    text-align: center;
  }

  .receita {
    font-size: 3rem;
  }

  .receitas {
    justify-content: center;
    gap: 1.5rem;
  }

  .receitas img {
    width: 250px;
  }

  .receitas p, .info p {
    font-size: 1.5rem;
  }

  .div-info p {
    padding-left: 2rem;
  }
}




